<!DOCTYPE html>
<head>
<title>sparkSammy.com - Posts</title>
<link href="/style.min.css" rel="stylesheet">
<link href="/syntax.min.css" rel="stylesheet">
</head>
<body>
<ul>
<li><a href="/posts">Blog</a></li>
<li><a href="https://coindrop.to/nodemixaholic">Support me</a></li>
<li><a href="/merch">Merch</a></li>
<li><a href="https://github.com/nodemixaholic">GitHub</a></li>
<li><a href="https://tiktok.com/@deepfake621">TikTok</a></li>
<li><a href="https://youtube.com/@nodemixaholic">YouTube</a></li>
</ul>


<h1>Merch.</h1>
<div id="myShop" width="100%">
    <a href="https://sparksammy.myspreadshop.com">sparksammy</a>
</div>

<script>
    var spread_shop_config = {
        shopName: 'sparksammy',
        locale: 'us_US',
        prefix: 'https://sparksammy.myspreadshop.com',
        baseId: 'myShop'
    };
</script>

<script type="text/javascript"
        src="https://sparksammy.myspreadshop.com/shopfiles/shopclient/shopclient.nocache.js">
</script>
</body>
